<load-credentials></load-credentials> <!--FIX HACK LOAD ACCOUNT INFO -->
<nav class="navbar navbar-default navbar-static-top inverted">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sistema de inscrições</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown class="dropdown" ng-show="credentials">
          <a uib-dropdown-toggle role="button"  href="#">{{ credentials.email }}<span class="caret"></span></a>
          <ul uib-dropdown-menu class="dropdown-menu">
            <li>
              <a class="logout-text" href="" ng-click="logout()" translate>Sair</a>
            </li>
          </ul>
        </li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!--
<img class="logo" ng-click="home()" src="/images/logo-fisl-small.png"/>
<h1 ng-click="home()">sistema de inscrições</h1>
<locale-selector></locale-selector>
-->
