<fieldset>
  <legend translate class="text-primary">Informe os dados da caravana abaixo</legend>

  <div class="row">
    <div class="form-group has-feedback col-sm-6">
    <label class="required">
      <span translate>Nome da caravana:</span>
      <small class="text-muted" translate>(de 5 até 80 caracteres)</small>
    </label>
    <input type="text"
           maxlength="80"
           ng-model="caravan.name"
           class="form-control" />
      <span field-error="name"></span>
    </div>
  </div>

  <div class="row">
  <div class="form-group has-feedback col-sm-6">
    <label class="required">
      <span translate>Cidade:</span>
      <small class="text-muted" translate>(de 5 até 80 caracateres)</small>
    </label>
    <input type="text"
           maxlength="80"
           ng-model="caravan.city"
           ng-readonly="lockCity"
           class="form-control" />
      <span field-error="city"></span>
   </div>
  </div>

  <div class="row">
    <div class="form-group has-feedback col-sm-12">
    <label class="required">
      <span translate>Descrição:</span>
      <small class="text-muted" translate>(de 5 até 400 caracateres)</small>
    </label>
    <textarea maxlength="400"
              rows="5"
              ng-model="caravan.description"
              class="form-control">
    </textarea>
    <span field-error="description"></span>
    </div>
  </div>

</fieldset>