<form novalidate name="caravan_form" class="lines">
  <ng-include src="'modules/Caravan/caravan.html'"></ng-include>

  <div ng-show="caravan.id"
       ng-include="'modules/Caravan/invited.html'">
  </div>

  <div class="text-center">
    <div class="alert alert-danger" form-error-any>
      <span translate>Por favor verifique as mensagens acima e tente novamente</span>
    </div>
    <div class="alert alert-warning" ng-hide="caravan.id">
      <span translate>Você precisa criar a caravana antes de enviar os convites</span>
    </div>
    <button class="btn btn-primary" ng-hide="caravan.id"  ng-click="submit()" translate>
      Criar caravana
    </button>
    <button class="btn btn-primary" ng-show="caravan.id"  ng-click="update()" translate>
      Salvar alterações
    </button>
  </div>

</form>
