<fieldset>
  <legend class="text-primary" translate>Quem será convidado?</legend>

   <div class="row">
       <p class="container-fluid">
        <button class="btn btn-primary" ng-click="openInviteModal()">
            <i class="fa fa-plus"></i> Convidar
        </button>
       </p>
   </div>

   <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span translate>Caravanista</span>
        </div>
        <div class="panel-body">
          <div><strong>{{ credentials.name }}</strong></div>
          <div>{{ credentials.email }}</div>
          <div translate>Este é você!</div>
        </div>
      </div>
    </div>

    <div class="col-sm-4" ng-repeat="invite in invites">
      <div class="panel"
           ng-class="{ 'panel-warning': invite.status == 'pending',
                       'panel-success': invite.status == 'accepted',
                       'panel-danger': invite.status == 'declined'}">
        <div class="panel-heading">
          Participante
        </div>
        <div class="panel-body">
          <div><strong>{{ invite.name }}</strong></div>
          <div>{{ invite.recipient }}</div>
          <div>{{ invite.status }}</div>
        </div>
      </div>
    </div>

  </div>

</fieldset>
