<!--<button ng-click="instructions.setDisplay(true)">
        ajuda!!
      </button>-->

<div class="row-fluid">

  <h2  class="page-header">
    <span translate>Seleção pública de palestras</span>
  </h2>

  <div ng-show="instructions.display">
    <p>
      Participar da seleção pública de palestras do FISL17 é muito fácil!
    </p>
    <p>
      Nas telas a seguir, serão mostradas duas propostas de palestra
      que foram enviadas pela comunidade este ano. Selecione a que
      você mais gostaria de ver apresentada no FISL17.</p>
    <p>
      Você poderá efetuar esse processo {{ judge.remaining }} vezes,
      escolhendo uma proposta de palestra preferida em cada vez.
    </p>

    <p>
      <b>Atenção:</b> você tem <b>15 minutos</b> para efetuar cada voto. Após
      transcorrido esse tempo, o par de propostas será apresentado a
      outro avaliador, e seu voto para aquele par será descartado.
    </p>

    <div class="text-center">
      <button class="btn btn-primary" ng-click="instructions.setDisplay(false)">
        Ok, quero começar!
      </button>
    </div>

  </div>

  <div class="row" ng-show="endOfTournament">
    <h3 translate>Avaliação encerrada</h3>

    <p>
      A avaliação de propostas para o FISL17 está encerrada. Aguarde enquanto
      analisamos os resultados. A convocação dos palestrantes selecionados
      será iniciada em breve.
    </p>
  </div>

<div class="row-fluid" ng-hide="instructions.display">
    <table class="table table-striped">
      <thead>
        <th colspan="2">Informações do avaliador</th>
      </thead>
      <tbody>
        <tr>
          <th>Token</th>
          <td>{{ judge.hash }}</td>
        </tr>
        <tr>
          <th>Votos totais</th>
          <td>{{ judge.votes }}</td>
        </tr>
        <tr>
          <th>Votos usados</th>
          <td>{{ judge.spent }}</td>
        </tr>
        <tr>
          <th>Votos restantes</th>
          <td>{{ judge.remaining }}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row-fluid" ng-hide="match.player1 || endOfTournament">
  <h3 translate>Obrigado por participar!</h3>

  <p>
    Todos os seus votos foram computados. Em breve, anunciaremos
    as propostas classificadas. Nos vemos no FISL17!
  </p>
</div>


<div class="row-fluid" ng-show="match.player1 && !instructions.display" >

    <hr>

    <div class="row">

      <!-- THE !! IS A HACK FOR AVOID undefiened players-->
      <div class="col-sm-6" ng-repeat="player in [ match.player1, match.player2 ] | filter:'!!'">

        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="box-icon fa fa-newspaper-o"></i>
            {{ player.title }}
          </div>
          <div class="panel-body">
            <dl>
              <dt translate>Trilha</dt>
              <dd class="track">{{ player.track.zone }} - {{ player.track.track }}</dd>
              <dt translate>Autores</dt>
              <dd class="author" ng-repeat="author in player.authors">
                {{ author.name }}
                <a ng-click="toggleResume($id)" ng-show="author.resume">currículo...</a>
                <p ng-show="displayResume[$id]">
                  {{ author.resume }}
                </p>
              </dd>
              <dt translate>Descrição</dt>
              <dd>{{ player.full }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
          <button class="btn btn-primary"
                  ng-click="voteFor('player1')"
                  translate>Prefiro proposta 1</button>
          <button class="btn btn-default"
                  ng-click="voteFor('tie')"
                  translate>Gostei de ambas</button>
          <button
                  class="btn btn-primary"
                  ng-click="voteFor('player2')"
                  translate>Prefiro proposta 2</button>
      </div>
    </div>
</div>