<div class="container-fluid">
  <legend translate class="page-header text-primary"> Meus certificados</legend>

  <div class="row">
    <div class="col-sm-6" ng-repeat="cert in myCertificates">
      <div class="panel panel-default"  style="height: 150px;">
          <div class="panel-heading">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <b style="text-transform: capitalize;">{{ cert.kind | humanize }}</b>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li ng-show="cert.kind == 'attendant'">Número: <b>{{ cert.person }}</b></li>
              <li ng-hide="cert.name">{{ cert.talk }}</li>
              <li ng-show="cert.name">{{ cert.name }} - {{ cert.talk }}</li>
              <li ng-hide="cert.name">Grafia não confirmada</li>
              <li ng-show="cert.status == 'issued'">
                <a href="{{cert.full_url}}" target="_blank">
                  Emitido no dia {{ cert.issue_date | date_locale }}
                </a>
              </li>
              <li ng-hide="cert.status == 'issued'" class="status {{ cert.status }}" translate>
                  {{ cert.status | humanize }}
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" ui-sref="certificate.survey" ng-show="canIssueNewCerts()">
          <span translate translate-n="myCertificates.length" 
                translate-plural="emitir certificados..." translate>Emitir certificado
          </span>
      </button>
    </div>
  </div>

    <div ng-if="!myCertificates.length && !canIssueNewCerts()" translate>
      <strong>Nenhum certificado disponível para impressão</strong>
    </div>
</div>