<div class="panel panel-default" ng-show="myCertificates.length > 0">
  <div class="panel-body">
          <legend translate class="text-primary"> Meus certificados</legend>
          <ul>
            <li ng-repeat="cert in myCertificates">
              <span class="title">{{ cert.kind | humanize }}</span>
              <span class="number" ng-show="cert.kind == 'attendant'">
                  número: <b>{{ cert.person }}</b>
              </span>
              <span ng-hide="cert.name" class="talk">{{ cert.talk }}</span>
              <small ng-show="cert.name" class="name">{{ cert.name }} - {{ cert.talk }}</small>
              <span ng-hide="cert.name" class="empty" translate>grafia não confirmada</span>
              <a ng-show="cert.status == 'issued'" class="status issued" href="{{cert.full_url}}" target="_blank" translate>
                emitido no dia {{ cert.issue_date | date_locale }}
              </a>
              <span ng-hide="cert.status == 'issued'" class="status {{ cert.status }}" translate>
                {{ cert.status | humanize }}
              </span>
            </li>
            <li class="button" ui-sref="certificate.survey" ng-show="canIssueNewCerts()">
              <span translate translate-n="myCertificates.length" translate-plural="emitir certificados..." translate>
                emitir certificado...
              </span>
            </li>
          </ul>
          <div class="container" ng-if="!myCertificates.length && !canIssueNewCerts()" translate>
              Nenhum certificado disponível para impressão
          </div>
  </div>
</div>