<div class="container-fluid" ng-show="myPurchases.length > 0">
    <legend translate class="text-primary"> Meus ingressos </legend>
    <div class="row">
        <div class="col-sm-12">

      <table class="table table-striped table-responsive table-condensed">
          <thead>
            <th translate>Código</th>
            <th translate>Ingresso</th>
            <th translate>Valor</th>
            <th translate>Data da compra</th>
            <th translate>Data limite</th>
            <th translate>Status</th>
          </thead>
          <tbody>
            <tr ng-repeat="purchase in myPurchases"
                ng-class="{'bg-success':  purchase.status == 'paid'}">

                <p>{{ purchase.status }}</p>

                <td>{{ purchase.id }}</td>
                <td>{{ purchase.product.description }}</td>
                <td>
                    {{ calculateLeftAmount(purchase) | realbrasileiro }}
                </td>
                <td>{{ purchase.created | date_locale }}</td>
                <!--TODO: FIX DATE FORMAT USE THE USER LOCALE -->
                <td ng-show="purchase.product.category=='government'">
                    -
                </td>
                <td ng-show="purchase.product.category!='government'">
                    {{ purchase.due_date | amDateFormat: 'DD/MM/YYYY' }}
                </td>
               <td ng-show="canStartPayment(purchase) && purchase.product.category!='government'">
                    <span translate>Aguardando confirmação</span>
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" ng-click="doPayment(purchase, 'boleto')">
                            Boleto
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="doPayment(purchase, 'pagseguro')">
                            PagSeguro
                        </button>
                        <button ng-show="isForeign"
                                class="btn btn-default btn-sm"
                                ng-click="doPayment(purchase, 'paypal')">
                            Paypal
                        </button>
                    </div>
               </td>
               <td ng-show="canStartPayment(purchase) && purchase.payments.length == 0 && purchase.product.category=='government'">
                Pagamento posterior ao evento
               </td>
               <td ng-show="isExpired(purchase)">
                    <span translate >
                       Aguardando confirmação
                    </span>
                </td>
                <td ng-show="isCancelled(purchase)">
                    <span  translate ><strong>Cancelada</strong></span>
                </td>
                <td ng-show="isReimbursed(purchase)">
                    <span  translate >Devolvida</span>
                </td>
                <td ng-show="purchase.status == 'student_document_in_analysis'">
                    <span  translate >Documentação em processo de análise</span>
                </td>
                <td ng-show="purchase.status == 'gov_document_submission_pending'">
                    <p  translate > Aguardando submissão da nota de empenho</p>

                    <!--FIX REVIEW-->
                    <p>
                      <input name="file"
                             type="file"
                             ng-model="buyer_document"
                             ng-model-options="{allowInvalid: false}"
                             ngf-select="sendGovDocument($file, purchase.id)"
                             ngf-max-files="1"
                             ngf-validate="{size: {max: '2MB'}, pattern: '.pdf' }" />
                      <p class="text-danger" ng-show="purchase_form.file.$error.maxSize">
                          O tamanho máximo permitido é 2MB, por favor selecione um outro arquivo.
                      </p>
                      <p class="text-danger" ng-show="purchase_form.file.$error.pattern">
                          Formato do arquivo inválido, por favor selecione um outro arquivo.
                      </p>
                      <p class="text-danger" ng-show="fileUploadError">
                          Houve um erro ao fazer o upload do arquivo.
                      </p>
                   </p>

                </td>
                <td ng-show="purchase.status == 'gov_document_in_analysis'">
                    <span  translate >Documentação em processo de análise</span>
                </td>
                <td ng-show="purchase.status == 'paid'" translate>
                    <strong>Confirmado</strong></b>
                </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
</div>
