  <legend translate class="text-primary">Esqueci minha senha!</legend>
  <p ng-show="sent" translate>
      Acabamos de enviar uma mensagem contendo as instruções
      de recuperação de senha para seu e-mail. Caso persistam
      os problemas no seu acesso, por favor entre em contato
      o nosso suporte.
  <p>
  <p ng-hide="sent" class="text-center" translate>
      Para recuperar acesso a sua conta, por favor preencha
      endereço de e-mail com o qual você criou o seu cadastro
      inicialmente. Enviaremos uma mensagem com instruções.
  </p>

   <form novalidate name="forgot_form" id="forgot_form" ng-hide="sent" class="form-inline">

      <div class="form-group text-center col-sm-12">
          <label class="">
            <span translate>E-mail:</span>
          </label>
          <input type="text" required focusable
                minlength="6" maxlength="80"
                ng-model="forgot.email"
                class="form-control" />

          <button class="btn btn-primary" ng-click="askReset()" translate>
            Enviar instruções!
          </button>

      </div>

  </form>
