<div class="container login">
  <div class="panel panel-default">
    <div class="panel-body">
    <legend>Entrar na minha conta</legend>
    <form novalidate name="login_form" grab-focus >
      <div class="form-group has-feedback">
        <label class="control-label">
           <span class="required"> * </span> E-mail:
        </label>
        <input type="text"
                maxlength=80
                focusable required
                ng-model="login.email"
                class="form-control" />
      </div>
      <div class="form-group has-feedback">
        <label class="control-label">
           <span class="required"> * </span> Senha:
        </label>
          <input type="password"
                 required
                 maxlength=80
                 ng-model="login.password"
                 class="form-control"/>
      </div>

      <div class="form-group has-feedback">
        <div class="text-center">
          <button class="btn btn-primary"
                  ng-click="tryLogin()"
                  translate>
            Entrar!
          </button>

          <a href="#" class="btn btn-default" translate
           ng-click="forgotPassword()">Não sei minha senha!</a>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
