<fieldset class="survey">
  <legend translate class="text-primary">
    Pesquisa de Satisfação
  </legend>

  <div>
    <p translate>
      Para ajudar a construir um fisl cada vez melhor,
      convidamos você para participar de nossa pesquisa
      de satisfação abaixo.
    </p>
  </div>

  <form class="form">
    <p ng-repeat="entry in survey">
      <span><b>{{ entry.order+1}})</b> {{ entry.question }}</span>
      </br>
      <span ng-repeat="option in entry.alternatives">
          <label class="radio-inline">
          <input id="opt_{{entry.order}}_{{$index}}"  
                 type="radio" 
                 value="{{ option }}"
                 for="opt_{{entry.order}}_{{$index}}" 
                 ng-model="responses[entry.label]"><strong>{{ option }}</strong>
          </label>
      </span>
    </p>

    <br/>

    <div>
      <button class="btn btn-primary" ng-click="doSubmit()" translate>
        Enviar respostas!
      </button>
    </div>
  </form>

</fieldset>
