  <legend translate class="text-primary">Quem vai apresentar?</legend>

  <div ng-hide="credentials" translate>
    Você pode convidar até três pessoas para
    ajudar na apresentação dessa palestra
  </div>

  <div class="container-fluid">
    <p ng-show="canInviteMore()" class="container">
       <a class="btn btn-primary" role="button" ng-click="openInviteModal()">
          <i class="fa fa-plus"></i>
          <span translate>Convidar co-autor...</span>
       </a>
    </p>
  </div>

  <div class="container-fluid">

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span translate>Autor</span>
        </div>
        <div class="panel-body">
          <div><strong>{{ credentials.name }}</strong></div>
          <div>{{ credentials.email }}</div>
          <div translate>Este é você!</div>
        </div>
      </div>
    </div>

    <div class="col-sm-4" ng-repeat="invite in invites">
      <div class="panel"
           ng-class="{ 'panel-warning': invite.status == 'pending',
                       'panel-success': invite.status == 'accepted',
                       'panel-danger': invite.status == 'declined'}">
        <div class="panel-heading">
          Co-autor
        </div>
        <div class="panel-body">
          <div><strong>{{ invite.name }}</strong></div>
          <div>{{ invite.recipient }}</div>
          <div>{{ invite.status }}</div>
        </div>
      </div>
    </div>

    <div class="col-sm-4" ng-repeat="invite in newInvites">
      <div class="panel panel-info">
        <div class="panel-heading">
          Co-autor
        </div>
        <div class="panel-body">
          <div><strong>{{ invite.name }}</strong></div>
          <div>{{ invite.recipient }}</div>
          <div translate>Será convidado ao salvar</div>
        </div>
      </div>
    </div>

  </div>