<div class="page-header">
  <h2 ng-hide="cfpState == 'open'" translate>Submissão de propostas encerrada</h2>
  <h2 ng-show="cfpState == 'open'" translate>Submissão de propostas</h2>
</div>
<p ng-hide="cfpState == 'open'" translate>
    O período de envio de propostas de palestra encerrou-se no dia 19 de Abril.
    O procedimento de seleção e avaliação com participação do público começará
    em breve.
</p>


<form name="proposal_form" class="form" ng-show="cfpState == 'open'" >
  <ng-include src="'modules/Proposal/proposal.html'"></ng-include>
  <!-- <ng-include src="'modules/Proposal/author.html'"></ng-include> -->
  <ng-include src="'modules/Proposal/coauthors.html'"></ng-include>

  <aside class="centered action" ng-show="isDirty()">
    <div class="alert alert-danger" form-error-any >
      <span translate>Por favor verifique as mensagens acima e tente novamente</span>
    </div>
    <button class="btn btn-primary" ng-hide="proposal.id" ng-click="submit()" translate>
      Criar proposta
    </button>
    <button class="btn btn-primary" ng-show="proposal.id" ng-click="submit()" translate>
      Salvar alterações
    </button>
  </aside>

</form>
