<section class="invite">
  <h4 translate>Convidar co-autor</h4>
  <form novalidate class="form">

    <div class="form-group">
      <label class="required" translate>
        Nome do convidado:
      </label>
      <input type="text" maxlength=40
             ng-model="invite.name" />
      <div form-error="name.*" class="help-block" translate>Este campo é obrigatório</div>
    </div>

    <div class="form-group">
      <label class="required" translate>
        Email do convidado:
      </label>
      <input type="text" maxlength=40
             ng-model="invite.recipient" />
      <div form-error="recipient.*" class="help-block" translate>Este campo é obrigatório</div>
    </div>
    <div class="text-center">
      <button ng-click="submitInvite()" class="btn btn-primary" translate>
        Convidar!
      </button>
    </div>
  </form>
</section>