/*
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
*/

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
.required {
    color: #ba1820;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background: url(/images/top-bg.png);
}
.footer {
  position: absolute;
  color: #FFFFFF;
  background-color: #dd4814;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer a:link {
  color: #FFFFFF;
}

.splash-login {
  .login {
    width: 80%;
  }
}

.login {
    width: 40%;
}

/* FIX REMOVE */
.contract {
  height:30em;

  .only-expanded {
    width:100%;
  }
}

.contract_large {
  top:-9em !important;
  .ngdialog-content {
    width:80% !important;
  }
}

.contract_text {
  background-color:white;
  padding:15px;
  border:1px solid #ccc;

  p {
    height:26em;
    overflow-y: auto;
    font-size:small;
  }
}