<div class="container ">
  <div class="panel panel-default">
    <div class="panel-body">

    <form novalidate id="reset_form" name="reset_form" class="form-horizontal">
     <legend translate class="text-primary">Recuperação de senha</legend>


    <div class="form-group has-feedback">
      <label class="col-sm-3 control-label">
        <span class="required"translate> * </span> Código de recuperação:
      </label>
      <div class="col-sm-4">
        <input type="text" readonly
              class="form-control"
            ng-model="reset.hash_code"/>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label class="col-sm-3 control-label">
        <span class="required"translate> * </span> Senha:
        <small class="help-block" translate>(mínimo 8 caracteres)</small>
      </label>
      <div class="col-sm-4">
        <input type="password" required
               placeholder="{{ 'senha' || translate }}"
               minlength="8" maxsize="80"
              class="form-control"
            ng-model="reset.password"/>
      </div>
      <div class="col-sm-offset-3 col-sm-9">
        <span form-error="password.object_required" class="help-block" translate>
          Por favor, defina uma senha com no mínimo 8 caracteres
        </span>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary" ng-click="submit()" translate>
        Recuperar acesso!
      </button>
    </div>
  </form>
  </div>
</div>
</div>
