<fieldset class="products">

<div class="container-fluid">
  <h3 class="text-primary" translate>Contribua com a ASL fazendo uma doação</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Campanha</th>
        <th>Valor</th>
        <th>Pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products | filter:'donation' ">
        <td>
          {{product.description}}
        </td>
        <td ng-if="product.price">
            {{ product.price | realbrasileiro }}
        </td>
        <td ng-if="!product.price" class="col-sm-4">
            <input
                 name="amount"
                 type="number"
                 min="10"
                 class="form-control"
                 ng-model="payment.amount"  />
        </td>
        <td>
          <input id="product_{{product.id}}" type="radio"
                 ng-value="product.id"
                 name="productId"
                 ng-model="productId"
                 ng-click="updateSelectedProduct(product.id)">
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-show="selectedProduct.information">
    <h4 class="text-primary" translate>Informações adicionais</h4>
   <div class="alert alert-info" role="alert">
    {{ selectedProduct.information}}
  </div>
  </div>

  <div ng-show="selectedProduct.id == productSurvery.survey.productId">
    <!--survey -->
    <div class="form-group">
    <label class="col-md-4 control-label" translate>Como você deseja receber a camiseta:</label>
    <div class="col-md-4">
      <label class="radio-inline">
        <input name="delivery"
               value="at_fisl" ng-model="productSurvery.answers.delivery" type="radio"> No evento
      </label>
      <label class="radio-inline" translate>
        <input name="delivery"
               value="at_home" ng-model="productSurvery.answers.delivery" type="radio"> Em casa
      </label>
    </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label" ranslate>Qual o tamanho de camiseta você usa:</label>
    <div class="col-md-4">
      <label class="radio-inline" translate>
        <input name="size"  value="P" checked="checked" type="radio">P
      </label>
      <label class="radio-inline">
        <input name="size"
               value="M" ng-model="productSurvery.answers.size" type="radio">M
      </label>
      <label class="radio-inline">
        <input name="size"
               value="G" ng-model="productSurvery.answers.size" type="radio">G
      </label>
      <label class="radio-inline">
        <input name="size" ng-model="productSurvery.answers.size" value="GG" type="radio">GG
      </label>
      <label class="radio-inline">
        <input name="size" ng-model="productSurvery.answers.size"  value="XG" type="radio">XG
      </label>
    </div>
    </div>
  </div>

</div>


</fieldset>
