<fieldset class="products">

<div class="container-fluid">

  <h2 class="page-header" translate>Ingressos</h2>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          {{product.description}}
        </td>
        <td ng-if="product.price">
            {{ product.price | realbrasileiro }}
        </td>
        <td>
          <input id="product_{{product.id}}" type="radio"
                 ng-value="product.id"
                 name="productId"
                 ng-model="productId"
                 ng-click="updateSelectedProduct(product.id)">
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-show="selectedProduct.information">
    <h4 class="text-primary" translate>Informações adicionais</h4>
     <div class="alert alert-info" role="alert">
      {{ selectedProduct.information}}
    </div>
  </div>


</fieldset>